@section headfiles{
    <script src="~/js/main/helper_functions.js"></script>
    <script src="~/js/main/task.js"></script>
    <script src="~/js/main/tasktable.js"></script>
    <script src="~/js/main/index.js"></script>
    <script src="~/js/main/TController.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/main/style.css" />
}


<table class="table">
    <thead id="table_thead"></thead>
    <tbody id="tasks_tbody"></tbody>
</table>